* {
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
}

.ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin: auto;
    transition: 1s;

    font-size: 22px;
    font-weight: bold;
}

.ball1{
    background-color: red;
}

.ball2{
    background-color: yellowgreen;
}